<div class="second-content">

    <app-compoent-heading [title]="'Available Pricing Plans'"
        [description]="'Choose the perfect plan to access premium AI services'"></app-compoent-heading>
    <div class="container my-3">
        <div class="card-list ">
            <div class="card p-2 shadow" data-aos="flip-left" data-aos-duration="400">
                <div class="logo">
                    <p class="fs-4" style="font-size: large;">$60 per month</p>
                </div>
                <div class="price text-center">
                    <p class="my-2 fs-3" style="font-size: large;">Basic Plan</p>
                </div>
                <hr style="color: var(--icon-color);margin: 0;">
                <div class="content">
                    <p>Get started with our Basic Plan, ideal for individuals and small businesses looking to explore AI solutions. With this plan, you'll have access to essential AI services to kickstart your projects and initiatives.</p>
                    <div class="get-btn text-center">
                        <button class="get-started-btn p-2" style="background-color: var(--header-main-color);color: var(--header-main-font-color);border-radius: .5rem;border: 0;">Get Started</button>
                    </div>
                </div>
            </div> 
            <div class="card p-2 shadow" data-aos="flip-left" data-aos-delay="100" data-aos-duration="400">
                <div class="logo">
                    <p class="fs-4" style="font-size: large;">$220 for 5 months</p>
                </div>
                <div class="price text-center">
                    <p class="my-2 fs-3" style="font-size: large;">Standard Plan</p>
                </div>
                <hr style="color: var(--icon-color);margin: 0;">
                <div class="content">
                    <p>Elevate your AI experience with our Standard Plan, offering a comprehensive suite of AI services for enhanced performance and efficiency. Perfect for growing businesses and teams looking to scale their AI capabilities.</p>
                    <div class="get-btn text-center">
                        <button class="get-started-btn p-2" style="background-color: var(--header-main-color);color: var(--header-main-font-color);border-radius: .5rem;border: 0;">Get Started</button>
                    </div>
                </div>
            </div>
        </div>
        <div class="card-list my-4">
            <div class="card p-2 shadow" data-aos="flip-left" data-aos-duration="400">
                <div class="logo">
                    <p class="fs-4" style="font-size: large;">$600 for a year</p>
                </div>
                <div class="price text-center">
                    <p class="my-2 fs-3" style="font-size: large;">Premium Plan</p>
                </div>
                <hr style="color: var(--icon-color);margin: 0;">
                <div class="content">
                    <p>Experience the ultimate AI journey with our Premium Plan, offering exclusive access to advanced AI services and personalized support. Ideal for enterprises and organizations looking to leverage AI for innovation and growth.</p>
                    <div class="get-btn text-center">
                        <button class="get-started-btn p-2" style="background-color: var(--header-main-color);color: var(--header-main-font-color);border-radius: .5rem;border: 0;">Get Started</button>
                    </div>
                </div>
            </div>
            <div class="card p-2 shadow" data-aos="flip-left" data-aos-delay="100" data-aos-duration="400">
                <div class="logo">
                    <p class="fs-4" style="font-size: large;">Custom Pricing</p>
                </div>
                <div class="price text-center">
                    <p class="my-2 fs-3" style="font-size: large;">Tailored Plan</p>
                </div>
                <hr style="color: var(--icon-color);margin: 0;">
                <div class="content">
                    <p>Need a customized plan to meet your specific AI requirements? Contact us for tailored pricing based on the number of services selected and your unique business needs.</p>
                    <div class="get-btn text-center">
                        <button class="get-started-btn p-2" style="background-color: var(--header-main-color);color: var(--header-main-font-color);border-radius: .5rem;border: 0;">Get Started</button>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>
<div class="second-component my-3">
    <app-compoent-heading [title]="'Unlock the Power of AI with Genie Store'" [description]="'Experience cutting-edge AI solutions tailored to your business needs. At Genie Store, we are committed to helping you harness the full potential of AI to drive innovation, efficiency, and growth. With our range of AI services and consulting expertise, we empower you to succeed in today is dynamic business landscape.'"></app-compoent-heading>
    <div class="get-btn text-center">
        <button  [routerLink]="'/contactUs'" class="get-started-btn p-2" style="background-color: var(--header-main-color);color: var(--header-main-font-color);border-radius: .5rem;border: 0;">Contact Us</button>
    </div>
</div>