<div class="container">
    <app-ourservices></app-ourservices>

    <app-compoent-heading [title]="'Meet Our Team'"
        [description]='"Two Valuable members of this org."'></app-compoent-heading>

    <div class="container team-members" data-aos="flip-left" data-aos-delay="100" data-aos-duration="400">
        <p class="fs-5"><strong>Anshul Bhardwaj</strong> - CEO</p>
        <p class="fs-5"><strong>Abhishek Singh Shekhawat</strong> - CEO </p>
        <!-- Add more team members if necessary -->
    </div>
</div>