<div class="signin-container shadow p-3 my-4 rounded">
    <div class="container text-center">
        <img class="mb-2 text-center" src="../../../assets/Ginie.png" alt="" srcset=""   data-aos="zoom-in" data-aos-duration="9000" data-aos-delay="500">

      <h1 class="heading-text fs-2" style="color: var(--icon-color);">Ginie Store</h1>
      <h2>Buy Subscription</h2>
      <form>
        <div class="form-group mb-3">
          <select class="form-control" id="subscriptionPlan" [(ngModel)]="selectedPlan">
            <option value="" disabled selected>Select Plan</option>
            <option value="1">1 Month</option>
            <option value="2">5 Months</option>
            <option value="3">12 Months</option>
          </select>
        </div>
        <button type="button" class="btn btn-block my-3" (click)="onBuySubscription()">Buy Now</button>
        <p class="mb-4">
        </p>
      </form>


      <form (ngSubmit)="submitPayment()">
        <div class="form-group">
          <label for="card-element">Credit or Debit Card</label>
          <div id="card-element"></div>
          <div id="card-errors" role="alert"></div>
        </div>
        <button type="submit" [disabled]="paymentForm.invalid">Pay</button>
      </form>


    </div>
  </div>
  