<div class="content p-0">
  <div class="first-content p-0">
    <div class="video-wrapper" data-aos="fade-in" data-aos-delay="500" data-aos-duration="1500">
      <video autoplay muted loop id="bg-video">
        <source src="../../../assets/bg_vid.mp4" type="video/mp4">
        Your browser does not support HTML5 video.
      </video>
    </div>
    <div class="mask"></div>
    <div class="text-container">
      <img class="mb-2" src="../../../assets/Ginie.png" alt="" srcset="" style="height: 5rem;width: 5rem;"  data-aos="zoom-in" data-aos-duration="9000" data-aos-delay="500">
      <h1 class="text fs-1" data-aos="zoom-in" data-aos-duration="7000" data-aos-delay="400">Welcome</h1>
      <h3 class="fs-3" data-aos="fade-up" data-aos-delay="500" data-aos-anchor-placement="top-bottom">To the Future Store
      </h3>
      <h4 class=" font-weight-light" data-aos="fade-up" data-aos-delay="800" data-aos-anchor-placement="top-bottom"><a class="text" [routerLink]="'/signin'">Login to use </a>
      </h4>
    </div>
  </div>
  <app-ourservices data-aos="fade-up"></app-ourservices>
  <!-- <app-srh-education data-aos="fade-up"></app-srh-education> -->
  <app-plans data-aos="fade-up"></app-plans>
</div>