<div class="second-content">
    <app-compoent-heading [title]="'SRH STOCKS EDUCATION'" [description]="'Welcome to SRH Stocks, your premier destination for comprehensive stock market services. Our team of experienced professionals is dedicated to providing you with the tools, insights, and support you need to make informed investment decisions and maximize your returns in the ever-changing world of finance. With our range of services, we cater to both novice investors and seasoned traders, ensuring that everyone can benefit from our expertise.'"></app-compoent-heading>
    <div class="conatiner my-2">

    </div>
</div>