<div class="container" data-aos="fade-up">
    <app-compoent-heading [title]="'Our Products'"
        [description]='"Welcome to the World of Magical Assistant - Ginie : Always there to help you, just buy the subscription to free Ginie from Lamp and He will Grant all the Wishes without the limit(until subscription Expires)"'></app-compoent-heading>

        <div class="container my-2">

            <div class="card-list ">
                <div class="card shadow" data-aos="flip-left" data-aos-duration="400">
                    <div class="logo"><mat-icon>sentiment_satisfied_alt</mat-icon>
                        <p>Amazon Product review Analusis </p>
                    </div>
                    <hr style="color: var(--icon-color);margin: 0;">
                    <div class="content">
                        <p>Analyse the sentimment of all the Reviews and have a suggestion based on stats before buying the product</p>
                        <div class="get-btn text-center">
                            <button  [routerLink]="'/Amazon_Analysis'" class="get-started-btn p-2" style="background-color: var(--header-main-color);color: var(--header-main-font-color);border-radius: .5rem;border: 0;">Access Service</button>
                        </div>
                    </div>
                </div>
                <div class="card shadow" data-aos="flip-left" data-aos-duration="400">
                    <div class="logo"><mat-icon>psychology</mat-icon>
                        <p>IPC Section Detection</p>
                    </div>
                    <hr style="color: var(--icon-color);margin: 0;">
                    <div class="content">
                        <p>Explore the AI power to tell about the IPC section based on your Provided Description of crime</p>
                        <div class="get-btn text-center">
                            <button  [routerLink]="'/IPC_Section'" class="get-started-btn p-2" style="background-color: var(--header-main-color);color: var(--header-main-font-color);border-radius: .5rem;border: 0;">Access Service</button>
                        </div>
                    </div>
                </div>
                <div class="card shadow" data-aos="flip-left" data-aos-duration="400">
                    <div class="logo"><mat-icon>chat</mat-icon>
                        <p>Ginie BOt (Assistant for web)</p>
                    </div>
                    <hr style="color: var(--icon-color);margin: 0;">
                    <div class="content">
                        <p>Explore the chat power of the Ginie.</p>
                        <div class="get-btn text-center">
                            <button  [routerLink]="'/GenieBot'" class="get-started-btn p-2" style="background-color: var(--header-main-color);color: var(--header-main-font-color);border-radius: .5rem;border: 0;">Access Service</button>
                        </div>
                    </div>
                </div>
                <div class="card shadow" data-aos="flip-left" data-aos-duration="400">
                    <div class="logo"><mat-icon>chat</mat-icon>
                        <p>Ask to PDF</p>
                    </div>
                    <hr style="color: var(--icon-color);margin: 0;">
                    <div class="content">
                        <p>Explore the  power of the Ginie.</p>
                        <div class="get-btn text-center">
                            <button  [routerLink]="'/AskPDf'" class="get-started-btn p-2" style="background-color: var(--header-main-color);color: var(--header-main-font-color);border-radius: .5rem;border: 0;">Access Service</button>
                        </div>
                    </div>
                </div>
                <div class="card shadow" data-aos="flip-left" data-aos-duration="400">
                    <div class="logo"><mat-icon>chat</mat-icon>
                        <p>genieAIBot (Global)</p>
                    </div>
                    <hr style="color: var(--icon-color);margin: 0;">
                    <div class="content">
                        <p>Explore the chat power of the Ginie.</p>
                        <div class="get-btn text-center">
                            <button  [routerLink]="'/GeminiBot'" class="get-started-btn p-2" style="background-color: var(--header-main-color);color: var(--header-main-font-color);border-radius: .5rem;border: 0;">Access Service</button>
                        </div>
                    </div>
                </div>
                <div class="card shadow" data-aos="flip-left" data-aos-duration="400">
                    <div class="logo"><mat-icon>chat</mat-icon>
                        <p>genieAIBot (Personal Data)</p>
                    </div>
                    <hr style="color: var(--icon-color);margin: 0;">
                    <div class="content">
                        <p>Explore the chat power of the Ginie.</p>
                        <div class="get-btn text-center">
                            <button  [routerLink]="'/GeminiDataBot'" class="get-started-btn p-2" style="background-color: var(--header-main-color);color: var(--header-main-font-color);border-radius: .5rem;border: 0;">Access Service</button>
                        </div>
                    </div>
                </div>
            </div>
        </div>
</div>