<div class="footer">
  <div class="container content">
    <div class="card-list">
      <div class="card">
        <div class="logo  p-1"><p class="fs-4 heading-text">Ginie Store</p></div>
        <hr class="my-1" style="color: var(--icon-color);">
        <div class="content  p-1">
          <p class="heading-text"><span style="font-weight: 500;">Unlock the Potential of AI Services and Education with Genie Store.</span><br>At Genie Store, we are dedicated to empowering individuals and businesses to harness the transformative power of artificial intelligence. Our platform offers a comprehensive suite of AI services and educational resources tailored to meet the diverse needs of our clients. Whether you're new to AI and looking to explore its possibilities or an experienced professional seeking advanced solutions, we provide the tools, insights, and support necessary for success.</p>

        </div>
      </div>
      <div class="card">
        <div class="logo p-1">
          <p class="heading-text fs-4">Contact Us</p>
        </div>
        <hr class="my-1" style="color: var(--icon-color);">
        <div class="content  p-1">
          <div class="content-card">
            <p class=""><mat-icon> location_on</mat-icon><span class="heading-title" style="color: var(--icon-color);">
                Address Information</span></p>
            <span class="heading-text">Ram Bagh, Jaipur</span>
          </div>
          <div class="content-card my-2">
            <p class=""><mat-icon> call</mat-icon><span class="heading-title" style="color: var(--icon-color);"> Call
                Now</span></p>
            <span class="heading-text">+91 7xxxxx4360, +91 9xxxxxx929</span>
          </div>
          <div class="content-card my-2">
            <p class=""><mat-icon> email</mat-icon><span class="heading-title" style="color: var(--icon-color);">
                mail</span></p>
            <span class="heading-text">info&#64;Ginie.com</span>
          </div>

        </div>
      </div>
      <div class="card">
        <div class="logo  p-1">
          <p class="heading-text fs-4">EXPLORE OUR SITE</p>
        </div>
        <hr class="my-1" style="color: var(--icon-color);">
        <div class="content  p-1">
          <li class="heading-text my-1"><a class="heading-text" [routerLink]="'/About'">About Us</a></li>
          <li class="heading-text my-1"><a class="heading-text" [routerLink]="'/contactUs'">Contact Us</a></li>

          <li class="heading-text my-1"><a class="heading-text" [routerLink]="'/dashboard'">Dashboard</a></li>
          <li class="heading-text my-1"><a class="heading-text" [routerLink]="'/signin'">SignIn</a></li>
        </div>
      </div>
    </div>

  </div>
  <div class="footer-info py-2 shadow-lg ">
    <!-- <div class="d-flex justify-content-center">
      <ul style="list-style-type: none; padding: 0; margin: 0; display: flex;">
        <li class="mx-1 socialmedia-icon"><a href=""><img src="../../assets/icons/black-instagram-icon.png" alt=""></a>
        </li>
        <li class="mx-1 socialmedia-icon"><a href=""><img src="../../assets/icons/google-icon.png" alt=""></a></li>
        <li class="mx-1 socialmedia-icon"><a href=""><img src="../../assets/icons/linkedin-square-icon.png" alt=""></a>
        </li>
        <li class="mx-1 socialmedia-icon"><a href=""><img src="../../assets/icons/meta-black-icon.png" alt=""></a></li>
        <li class="mx-1 socialmedia-icon"><a href=""><img src="../../assets/icons/pinterest-round-icon.png" alt=""></a>
        </li>
        <li class="mx-1 socialmedia-icon"><a href=""><img src="../../assets/icons/x-social-media-black-icon.png"
              alt=""></a></li>
      </ul>
    </div> -->
    <div class="container my-1 text-center copyright">
      <p class="text">Copyright © Ginie Store 2024. All rights reserved.</p>
    </div>
  </div>
</div>