<div class="second-content" >
    <div class="parallax-bg" [ngStyle]="getParallaxStyle()"></div>
    <div class="mask"></div> <!-- Add mask here -->
    <div class="content">
ciis omnis animi natus consequatur aut ad soluta! Atque iusto commodi sapiente voluptatum exercitationem. Reprehenderit distinctio labore unde repellat consectetur amet officiis dicta, cumque, error dignissimos inventore omnis tempora ex et, culpa corporis animi facere illo! At iure eligendi cumque unde! adipisicing elit. Ducimus soluta fugiat vitae atque laboriosam mollitia praesentium nulla nam incidunt. Molestiae omnis perferendis labore consequuntur consectetur nisi totam, necessitatibus beatae saepe.
    </div>
  </div>  