<div class="footer-info py-2 shadow-lg ">
    <!-- <div class="d-flex justify-content-center" >
        <ul style="list-style-type: none; padding: 0; margin: 0; display: flex;">
          <li class="mx-1 socialmedia-icon"><a href=""><img src="../../assets/icons/black-instagram-icon.png" alt=""></a></li>
          <li class="mx-1 socialmedia-icon"><a href=""><img src="../../assets/icons/google-icon.png" alt=""></a></li>
          <li class="mx-1 socialmedia-icon"><a href=""><img src="../../assets/icons/linkedin-square-icon.png" alt=""></a></li>
          <li class="mx-1 socialmedia-icon"><a href=""><img src="../../assets/icons/meta-black-icon.png" alt=""></a></li>
          <li class="mx-1 socialmedia-icon"><a href=""><img src="../../assets/icons/pinterest-round-icon.png" alt=""></a></li>
          <li class="mx-1 socialmedia-icon"><a href=""><img src="../../assets/icons/x-social-media-black-icon.png" alt=""></a></li>
        </ul>
      </div> -->
      <div class="container my-1 text-center copyright">
        <p class="text">Copyright © Ginie Store 2024. All rights reserved.</p>
      </div>
</div>