<div class="second-content">
    <app-compoent-heading [title]="'Our Service'"
        [description]='"Welcome to Genie Store, your one-stop destination for a wide range of AI services. Our platform offers comprehensive solutions to meet your AI needs, whether you are a beginner exploring the world of artificial intelligence or an experienced professional looking to enhance your projects. Our dedicated team of experts is committed to providing you with the tools, insights, and support required to leverage the power of AI effectively."'></app-compoent-heading>

        <div class="container my-2">

            <div class="card-list ">
                <div class="card shadow" data-aos="flip-left" data-aos-duration="400">
                    <div class="logo"><mat-icon>chat</mat-icon>
                        <p>Chatbots</p>
                    </div>
                    <hr style="color: var(--icon-color);margin: 0;">
                    <div class="content">
                        <p>Unlock the power of conversational AI with our chatbot solutions. Whether you need a customer support chatbot, a virtual assistant, or a lead generation bot, we've got you covered. Our chatbots are equipped with natural language processing (NLP) capabilities to understand and respond to user queries effectively.</p>
                    </div>
                </div>
                <div class="card shadow" data-aos="flip-left" data-aos-delay="100" data-aos-duration="400">
                    <div class="logo"><mat-icon>bookmark</mat-icon>
                        <p>Classification & Regression</p>
                    </div>
                    <hr style="color: var(--icon-color);margin: 0;">
                    <div class="content">
                        <p>Utilize our advanced classification and regression models to analyze and predict outcomes based on data patterns. Whether you're categorizing data or making predictions, our AI algorithms deliver accurate results to support your decision-making process.</p>
                    </div>
                </div>
                <div class="card shadow" data-aos="flip-left" data-aos-delay="200" data-aos-duration="400">
                    <div class="logo"><mat-icon>sentiment_satisfied_alt</mat-icon>
                        <p>Sentiment Analysis</p>
                    </div>
                    <hr style="color: var(--icon-color);margin: 0;">
                    <div class="content">
                        <p>Gain insights into public opinion and sentiment with our sentiment analysis tools. Understand how people feel about your products, services, or brand by analyzing social media posts, customer reviews, and other textual data sources.</p>
                    </div>
                </div>
            </div>
            <div class="card-list my-4">
                <div class="card shadow" data-aos="flip-left" data-aos-duration="400">
                    <div class="logo"><mat-icon>psychology</mat-icon>
                        <p>Cognitive Services</p>
                    </div>
                    <hr style="color: var(--icon-color);margin: 0;">
                    <div class="content">
                        <p>Explore the possibilities of cognitive computing with our cognitive services. From computer vision to natural language understanding, our AI solutions mimic human cognition to solve complex problems and enhance user experiences.</p>
                    </div>
                </div>
                <div class="card shadow" data-aos="flip-left" data-aos-delay="100" data-aos-duration="400">
                    <div class="logo"><mat-icon>miscellaneous_services</mat-icon>
                        <p>GenAi</p>
                    </div>
                    <hr style="color: var(--icon-color);margin: 0;">
                    <div class="content">
                        <p>Unlock the potential of generative AI with our GenAi solutions. From generating creative content to creating realistic simulations, our AI models push the boundaries of what's possible. Let your imagination run wild with GenAi.</p>
                    </div>
                </div>
                <div class="card shadow" data-aos="flip-left" data-aos-delay="300" data-aos-duration="400">
                    <div class="logo"><mat-icon>image_search</mat-icon>
                        <p>Image Recognition</p>
                    </div>
                    <hr style="color: var(--icon-color);margin: 0;">
                    <div class="content">
                        <p>Empower your applications with image recognition capabilities. Our AI models can identify objects, scenes, and patterns in images, enabling you to automate tasks, enhance security, and improve user experiences.</p>
                    </div>
                </div>
            </div>
        </div>
        
</div>