<div class="OurService">
    <div class="container my-5">


        
        <app-compoent-heading [title]="'Contact Us'"
            [description]='"Contact Details"'></app-compoent-heading>

        <div  class="container contact-info" data-aos="flip-left" data-aos-delay="100" data-aos-duration="400">
            <h2></h2>
            <p class="fs-5"><strong>Address:</strong> Jaipur</p>
            <p class="fs-5"><strong>Phone:</strong> 706xxxx360</p>
            <p class="fs-5"><strong>Email:</strong> info&#64;Ginie.com</p>
        </div>

        
    </div>
</div>